body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;  
}

.head-title {
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    vertical-align: bottom;
    text-decoration: none;
    color: rgb(197, 194, 194);
}

.footer-text {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: rgb(197, 194, 194);
}

.montserrat {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: rgb(197, 194, 194);
}

.roboto {
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: rgb(197, 194, 194);
}

.offcanvas-header {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-left: 1.2rem;
    color: rgb(197, 194, 194);
}

.offcanvas-item {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: rgb(197, 194, 194);
}

.bi {
    color: rgb(197, 194, 194)!important;
}

.poster-wide {
    width: 405px;
}

.fixed-height {
    max-height: 540px;
}

.b-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
/* iframe{
border: none;
aspect-ratio: auto;
}

.bd-placeholder-img {
font-size: 1.125rem;
text-anchor: middle;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}

@media (min-width: 768px) {
.bd-placeholder-img-lg {
    font-size: 3.5rem;
}
}

.b-example-divider {
width: 100%;
height: 3rem;
background-color: rgba(0, 0, 0, .1);
border: solid rgba(0, 0, 0, .15);
border-width: 1px 0;
box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
flex-shrink: 0;
width: 1.5rem;
height: 100vh;
}

.bi {
vertical-align: -.125em;
fill: currentColor;
}

.nav-scroller {
position: relative;
z-index: 2;
height: 2.75rem;
overflow-y: hidden;
}

.nav-scroller .nav {
display: flex;
flex-wrap: nowrap;
padding-bottom: 1rem;
margin-top: -1px;
overflow-x: auto;
text-align: center;
white-space: nowrap;
-webkit-overflow-scrolling: touch;
}

.filmmaker {
font-size: calc(1.5rem + 1vw);
color: rgb(175, 194, 218)
}

.box-title {
font-size: calc(1.5rem + 1vw);
color: rgb(197, 194, 194);
}
.box-subtitle {
font-size: calc(0.8rem + 0.3vw);
color: rgb(197, 194, 194);
}
.box-text {
font-size: calc(0.7rem + 0.3vw);
color: rgba(197, 194, 194, 0.7);
}
.filmmaker-small{
margin-top:25%; 
margin-left:-55px;
font-size:25px;
color: rgb(175, 194, 218)
} */
