body {
  padding-top: 0px;
  padding-bottom: 20px;
  /* background-color: #f0ede5; */
}

html {
  scroll-behavior: smooth;
}

.text-link {
  color: #2B3856;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.mail {
  color: Azure;
  font-weight: normal;
}

.navbar {
  margin-bottom: 20px;
}

.fab {
  padding: 0px 7px;
  color: Azure;
}
.fab:hover {
  color: DodgerBlue;

}

.jumbotron{
  background-image: url(img/top_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
/* color: white;
background-color:  #d5ae41; */
}

.monospace {
  font-weight: bold;
  font-family: "Lucida Console", Courier, monospace;
}
